.preview-image {
    max-width: 200px; /* Adjust the width as needed */
    max-height: 200px; /* Adjust the height as needed */
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .image-poster {
    max-width: 350px; /* Adjust the width as needed */
    max-height: 350px; /* Adjust the height as needed */
  }